---
layout: base-parent
---
%nav.navbar.navbar-default.navbar-fixed-top{:role=>'navigation'}
  .container-fluid
    .navbar-header
      %a.navbar-brand{ :href=>"#{site.base_url}" } #{site.name}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{ :href=>"#{site.base_url}/blog/home.html" } Home
.spacerAfterNavbar
.container
  .row
    .span3
      #TableOC
    .span9
      %div.page-header
        %h1 
          #{page.title} 
          %small sous titre...
      ~ content
  %footer
    %p &copy; #{site.org} #{Date.today.year}
    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    -# %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    -# %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }
